{% extends "marquette/thaydoi/layout.html" %}
{% include "marquette/layout.html" %}

{% block tdbody %}
    <div class="post">
        <h2 class="title">Hướng dẫn sử dụng</h2>
        <div class="story">
        <p><strong>Tài liệu</strong></p>
        </div>
    </div>
    <div class="post">
        <h2 class="title">Trích xuất dữ liệu thay đổi phụ liệu</h2>
        <div class="story">
        <p><strong><a href="{% url 'exportthaydoi' %}">Tải xuống dữ liệu</a></strong></p>
        </div>
    </div> 
{% endblock %}