{% extends "marquette/phulieu/layout.html" %}
{% include "marquette/layout.html" %}

{% block plbody %} 
    <div class="post">
        <h1>Danh sách phụ liệu dùng cho sản phẩm {{ sp.sodangky.tensanpham }}-{{ sp.quycach }}</h1>
        <br>
        <table>
            <tr>
                <th>Loại phụ liệu</th>
                <th>Đầu mã</th>
                <th>Tồn kho thực</th>
            </tr>
                {% for i in list %}
                <tr>
                    <td>{{ i.pl.loai }}</td>
                    <td>{{ i.pl.dauma }}</td>
                    {% if i.pl.soluong == None %}
                        <td>
                            <form method="GET" style="border:none; margin:0px; padding:0px; box-shadow:none; background: none;"
                            action="{% url 'stockupdate' pk=i.pl.pk ma=sp.mabfo %}">
                                <input type="number" name="stock" style="width:30%; background: 0px;">
                                <input type="submit" value="Nhập">
                            </form>
                        </td>
                    {% else %}
                        <td><a href="{% url 'stockupdate' pk=i.pl.pk ma=sp.mabfo %}">{{ i.pl.soluong }}</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}