{% extends "marquette/layout.html" %}

{% block body %}
    <div id="posts">
        {% block spbody%}
        {% endblock %}         
    </div>
    <div id="links">
        <ul>
            <li>
                <h2>Nhập sản phẩm mới</h2>
                <ul>
                    <li><a href="{% url 'spcreate' %}">Đã có BFO</a></li>
                    <li><a href="{% url 'waitcreate' %}">Chưa có BFO</a></li>
                </ul>
            </li>
            <li>
                <h2>Tra cứu sản phẩm</h2>
                <ul>
                    <li><a href="{% url 'spfind' action='view' %}">Marquette đang sử dụng</a></li>
                    <li><a href="{% url 'spfind' action='change' %}">Thay đổi chưa hoàn thành</a></li>
                    <li><a href="{% url 'spfind' action='complete' %}">Thay đổi đã hoàn thành</a></li>
                </ul>
            </li>
            <li>
                <h2>Sản phẩm chờ mã BFO</h2>
                <ul>
                    <li><a href="{% url 'waitlistview' %}">Danh sách chờ mã</a></li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}