{% extends "marquette/layout.html" %}

{% block body %}
    <h1>Log-in</h1>
    <br>
    {% if form.errors %}
        <p>Username và password không đúng. Xin thử lại.</p>
    {% else %}
        <p>Điền form dưới đây để đăng nhập:</p>
    {% endif %}

    <div class="login-form">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="text" value="{{ next }}" />
            <p><input type="submit" value="Log In" /></p>
            <p><a href="{% url 'password_reset' %}">Quên password?</a></p>
        </form>
    </div>
{% endblock %}